.grid {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  background-color: seagreen;
  min-width: 50px;
}

.gate {
  line-height: 50px;
  background-color: grey;
  text-align: center;
  min-width: 50px;
  width: 50px;
  height: 50px;
  margin: 1%;
  border: 1px solid black;
}

.disabled {
  background-color: grey;
}

.ui-state-highlight {
  background-color: blue;
}

#square-container {
  border: 10px solid seagreen;
  padding: 1%;
  background-color: black;
  max-width: 520px;
  min-width: 520px;
}

.row {
 display: flex;
 flex-direction: row;
 width: 100%;
}

#gate-container {
  display: flex;
  border: 1px solid black;
  background-color: black;
  flex-wrap: wrap;
}


/*DEBUG PANEL*/
#debug-panel {
  margin-top: 15%;
  display: flex;
  flex-wrap: wrap;
}

.panel-container {
  margin-right: 1%;
  margin-bottom: 2%;
  flex: 23%;
}

.Wire {
  background-image: url("../img/gates.png");
  background-position: 0px 0px;
}

.uWire {
  background-image: url("../img/gates.png");
  background-position: -50px 0px;
}

.dWire {
  background-image: url("../img/gates.png");
  background-position: -100px 0px;
}

.AND {
  background-image: url("../img/gates.png");
  background-position: -150px 0px;
}

.OR {
  background-image: url("../img/gates.png");
  background-position: -200px 0px;
}

.XOR {
  background-image: url("../img/gates.png");
  background-position: -250px 0px;
}

.NOT {
  background-image: url("../img/gates.png");
  background-position: -300px 0px;
}

.Input {
  background-image: url("../img/gates.png");
  background-position: -350px 0px;
}

.Output {
  background-image: url("../img/gates.png");
  background-position: -400px 0px;
}

.WireOn {
  background-image: url("../img/gates.png");
  background-position: 0px 50px;
}

.uWireOn {
  background-image: url("../img/gates.png");
  background-position: -50px 50px;
}

.dWireOn {
  background-image: url("../img/gates.png");
  background-position: -100px 50px;
}

.ANDOn {
  background-image: url("../img/gates.png");
  background-position: -150px 50px;
}

.OROn {
  background-image: url("../img/gates.png");
  background-position: -200px 50px;
}

.XOROn {
  background-image: url("../img/gates.png");
  background-position: -250px 50px;
}

.NOTOn {
  background-image: url("../img/gates.png");
  background-position: -300px 50px;
}

.InputOn {
  background-image: url("../img/gates.png");
  background-position: -350px 50px;
}

.OutputOn {
  background-image: url("../img/gates.png");
  background-position: -400px 50px;
}
