.grid {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  background-color: seagreen;
  min-width: 50px;
}

.gate {
  line-height: 50px;
  background-color: grey;
  text-align: center;
  min-width: 50px;
  width: 50px;
  height: 50px;
  border: 1px solid black;
}

.disabled {
  background-color: grey;
}

.ui-state-highlight {
  background-color: blue;
}

#square-container {
  border: 10px solid seagreen;
  padding: 1%;
  background-color: black;
  max-width: 520px;
  min-width: 520px;
  position: relative;
}

.render-body-container {
    min-width: 550px;
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
}

#start {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.row {
 display: flex;
 flex-direction: row;
 width: 100%;
}

#gate-container {
  display: flex;
  border: 1px solid black;
  background-color: black;
  flex-wrap: wrap;
}

#success, #nextLevel {
    display: none;
}

#success-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.success-modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
    text-align: center;
    height: 180px;
    width: 100%;
    position: absolute;
    z-index: 2;
}

.success-modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    margin-top: 60px;
    z-index: 3;
    transition: background-color .4s;
}

.success-modal-content:hover {
    background-color: darkgreen;
}

.success-modal-content:hover > a {
    color: white;
}

@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0px; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0px; opacity:1}
}

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.nav {
    line-height: 40px;
    height: 40px;
    width: 100%;
    background-color: salmon;
    display: flex;
    text-align: center;
}

.nav > a {
    flex: 50%;
}

.Wire, .WireOn, .uWire, .uWireOn, .dWire, .dWireOn,
  .AND, .ANDOn, .OR, .OROn, .XOR, .XOROn,
  .NOT, .NOTOn, .Input, .InputOn, .Output, .OutputOn {
    background-image: url("../img/gates.png");
}

.Wire {
  background-position: 0px 0px;
}

.uWire {
  background-position: -50px 0px;
}

.dWire {
  background-position: -100px 0px;
}

.AND {
  background-position: -150px 0px;
}

.OR {
  background-position: -200px 0px;
}

.XOR {
  background-position: -250px 0px;
}

.NOT {
  background-position: -300px 0px;
}

.Input {
  background-position: -350px 0px;
}

.Output {
  background-position: -400px 0px;
}

.WireOn {
  background-position: 0px 50px;
}

.uWireOn {
  background-position: -50px 50px;
}

.dWireOn {
  background-position: -100px 50px;
}

.ANDOn {
  background-position: -150px 50px;
}

.OROn {
  background-position: -200px 50px;
}

.XOROn {
  background-position: -250px 50px;
}

.NOTOn {
  background-position: -300px 50px;
}

.InputOn {
  background-position: -350px 50px;
}

.OutputOn {
  background-position: -400px 50px;
}

/*DEBUG PANEL*/
#debug-panel {
  margin-top: 5%;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.panel-container {
  margin-right: 1%;
  margin-bottom: 2%;
  flex: 30%;
  text-align: center;
}