<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Build Gates</title>
    <script src="/js/jquery-3.1.1.js"></script>
    <script src="/js/jquery-ui.js"></script>
    <script src="/js/objects.js"></script>
    <script src="/js/scripts.js"></script>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
