<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Build Gates</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div>
        @Html.Partial("_Nav")
        <div class="render-body-container">
            @RenderBody()
        </div>
    </div>
</body>
</html>
