<body>
    <div id="square-container">
        <div id="gate-container">
        </div>
    </div>
    <hr>
    <button id="createGates">Create Gates</button>
    <button id="reset">Reset</button>
    <button id="debug">Show/Hide Debug Panel</button>
    <div id="debug-panel">

    </div>
</body>